// colors

$blue-darker: #0D1B26;
$blue-dark: #183347;
$blue: #1E415C;
$blue-light: #428DC7;
$blue-lighter: #54B5FF;

$purple-darker: #2E0F2D;
$purple-dark: #571D56;
$purple: #8A2D88;
$purple-light: #B23BB1;
$purple-lighter: #D446D1;
