/* shared heading styles */
h1, h2, h3, h4, h5, h6 {
  -webkit-hyphens: none;
  hyphens: none;
  adobe-hyphenate: none;
  font-weight: bold;
  text-align: left;
  page-break-after: avoid;
}

section h1 {
  color: $blue-dark;
  font-size: 2em;
  line-height: 1;
  padding-bottom: 10px;
  border-bottom: 1px solid $blue;
  margin-bottom: 50px;
}

section h2 {
  color: $blue;
  font-size: 1.3em;
  margin: 40px 0 8px 0;
}

section h3 {
  color: $blue-light;
  font-size: 1.1em;
  margin: 30px 0 8px 0;
}

section h4 {
  color: $blue-light;
  font-size: 1em;
  margin: 20px 0px 8px 0px;
}

section h5 {
  font-size: 1em;
  font-weight: normal;
  margin: 15px 0px 6px 0px;
}
